<h1>Here, change these people...</h1>
<%=form_for(@employee) do |f| %>
<%=f.label :first_name, "First Name"%>
<%=f.text_field :first_name %><br>

<%=f.label :last_name, "Last Name"%>
<%=f.text_field :last_name %><br>

<%=f.label :alias, "Alias"%>
<%=f.text_field :alias %><br>

<%=f.label :office, "Office"%>
<%=f.text_field :office %><br>

<%=f.label :dog_id, "Dog"%>
<%=f.collection_select :dog_id, Dog.all, :id, :name %><br>

<%=f.submit "ARE YOU SURE WANT TO CHANGE THIS PERSON????"%>
<% end %>