<h1> Create Employee</h1>

<%= form_for @employee do |f| %>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>
    <%= f.label "Alias" %>
    <%= f.text_field :alias %>
    <%= f.label "Title" %>
    <%= f.text_field :title %>
    <%= f.label "Office" %>
    <%= f.text_field :office %>
    <%= f.label "Img URL" %>
    <%= f.text_field :img_url %>
    <%= f.label "Select Your Dog" %>
    <%= f.collection_select :dog_id, Dog.all, :id, :name %>
    <%= f.submit "Submit" %>
    

    <% end %>

